body {
    height: 100vh;
    background: black url(../ex022/imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
    /*Não permite na shorthand*/

    /*background-color: black;
            background-image: url(../ex022/imagens/wallpaper002.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;*/

    /*Shorthands (atalhos) (cleancode): 
            Ordem: color > image > position > repeat > (size) > attachment*/
}

main {
    background-color: white;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
    max-width: 400px;

}